.video-icon{
  position:absolute;
  right:160px;
  top:80%;
  z-index: 99;
  a{
    color: grey;
    font-size: 90px;
  }
  a:hover{
    color: orangered;
  }
  /*
  //TODO un petit effet autour du bouton Play Vidéo :
  a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    border: 1px solid #ff1313;
    -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  }
   */
}

.hs-text {
  h2 {
    font-family: "Teko";
  }
  p{
    color: orangered;
    font-size: 20px;
    font-family: Barlow;
  }
}
.site-btn.sb-dark:hover {
  background: orangered;
  color: white;
}
a.site-btn:hover{
  background : #3d3126;
}
#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height:510px;
}