
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap");v

.header-right .hr-btn i {
  background: black;
 }
.header-nav{
  background-color: black;
}
#navigation {
  a.active{
    color: orangered;
    text-decoration: underline;
  }
  a{
    color: whitesmoke;
  }
  a:hover{
    color: orangered;
    background-color: black;
  }
  .btn:hover{
    color: #212529;

  }
}
.modal {
  display: none;
}
.modal-content{
  display: none;
  color: white;
  background-color: #22242b;
  padding-top: 5px;
}
.btn-modal{
  color: white;
  background-color: black;
  border-color: #4e555b;
  }
.btn-modal:hover{
  background-color: orangered;
}
.btn-modal:active {
  background-color: orangered;
}
#modal_log{
  padding-top: 10px;
  position: absolute;
  height: 60px;
  width: 600px;
  input{
    height: 25px;
  }
  p{
    color: white;
  };
}
#login_mod{
  position: fixed;
  padding-left: 50%;
}
.dropdown-menu{
  display: contents;
  border-color: #4e555b;
  background-color: #4c4c4c;
  float: right;
  position : relative;
  margin-right: 10px;
}
.page-top{
  color: #c6c8ca;
}
.site-logo{
  padding: 20px;
}
.header-section{
  padding-left: 0px;
}
.close{
  color: white;
}
.close:hover{
  color: #c6c8ca;
}

.site-btn:hover{
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 188px;
  padding: 22px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #fff;
  color:  #f43f00;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}
.container-fluid{
  padding-left: 10%;
  h1{
    font-family: Teko;
  }
}
.lien
{
  color: white;
}
.lien:hover{
  color: #7abaff;
}

.container-about{
  background-color: #c6c8ca ;
  margin: 1%;
  padding: 1%;
}
.container-fluid h1{
  font-size: 50px;
}

