
  #modal_AddNews{
    background-color: rgba(0,0,0,0.5);
    .container  {
      background-color: red;
      margin-top: 5vh;
      margin-left: 10%;
      height: 90vh;
      width: 80%;
      max-width: 80%;
    }
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
  }
  .container-form {
    border: 1px solid black;
    padding: 16px;
  }
