#add_member{
  padding-bottom: 5rem;
}
.TitleForm{
  padding-left: 10rem;
}
.contact-form {
  border: 1px solid black;
}
.form-box {
  box-sizing: content-box;
  padding-bottom: 10px;
  #organisation{

    height: 30px;
    margin-bottom: 1px;
  }
  label {
    margin-bottom: 0px;
  }
}
.submit-info{
  padding-left: 25rem;
  padding-bottom: 5rem;
}
input[type=checkbox]{
  height: 30px;
}
.col_checkbox{
  padding-right: 25rem;
}