@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap");
/* line 1, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.video-icon {
  position: absolute;
  right: 160px;
  top: 80%;
  z-index: 99;
  /*
  //TODO un petit effet autour du bouton Play Vidéo :
  a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    border: 1px solid #ff1313;
    -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  }
   */
}

/* line 6, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.video-icon a {
  color: grey;
  font-size: 90px;
}

/* line 10, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.video-icon a:hover {
  color: orangered;
}

/* line 32, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.hs-text h2 {
  font-family: "Teko";
}

/* line 35, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.hs-text p {
  color: orangered;
  font-size: 20px;
  font-family: Barlow;
}

/* line 41, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
.site-btn.sb-dark:hover {
  background: orangered;
  color: white;
}

/* line 45, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
a.site-btn:hover {
  background: #3d3126;
}

/* line 48, ../../wamp/www/cda35.reboot/assets/css/sass/_button.scss */
#map {
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height: 510px;
}

/* line 3, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
v
.header-right .hr-btn i {
  background: black;
}

/* line 8, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.header-nav {
  background-color: black;
}

/* line 12, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#navigation a.active {
  color: orangered;
  text-decoration: underline;
}

/* line 16, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#navigation a {
  color: whitesmoke;
}

/* line 19, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#navigation a:hover {
  color: orangered;
  background-color: black;
}

/* line 23, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#navigation .btn:hover {
  color: #212529;
}

/* line 28, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.modal {
  display: none;
}

/* line 31, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.modal-content {
  display: none;
  color: white;
  background-color: #22242b;
  padding-top: 5px;
}

/* line 37, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.btn-modal {
  color: white;
  background-color: black;
  border-color: #4e555b;
}

/* line 42, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.btn-modal:hover {
  background-color: orangered;
}

/* line 45, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.btn-modal:active {
  background-color: orangered;
}

/* line 48, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#modal_log {
  padding-top: 10px;
  position: absolute;
  height: 60px;
  width: 600px;
}

/* line 53, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#modal_log input {
  height: 25px;
}

/* line 56, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#modal_log p {
  color: white;
}

/* line 60, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
#login_mod {
  position: fixed;
  padding-left: 50%;
}

/* line 64, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.dropdown-menu {
  display: contents;
  border-color: #4e555b;
  background-color: #4c4c4c;
  float: right;
  position: relative;
  margin-right: 10px;
}

/* line 72, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.page-top {
  color: #c6c8ca;
}

/* line 75, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.site-logo {
  padding: 20px;
}

/* line 78, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.header-section {
  padding-left: 0px;
}

/* line 81, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.close {
  color: white;
}

/* line 84, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.close:hover {
  color: #c6c8ca;
}

/* line 88, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.site-btn:hover {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 188px;
  padding: 22px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #fff;
  color: #f43f00;
  line-height: normal;
  cursor: pointer;
  text-align: center;
}

/* line 103, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.container-fluid {
  padding-left: 10%;
}

/* line 105, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.container-fluid h1 {
  font-family: Teko;
}

/* line 109, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.lien {
  color: white;
}

/* line 113, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.lien:hover {
  color: #7abaff;
}

/* line 117, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.container-about {
  background-color: #c6c8ca;
  margin: 1%;
  padding: 1%;
}

/* line 122, ../../wamp/www/cda35.reboot/assets/css/sass/_header.scss */
.container-fluid h1 {
  font-size: 50px;
}

/* line 1, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
#members {
  margin-top: 1.5rem;
}

/* line 4, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.container {
  margin-top: 5%;
}

/* line 6, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.container span {
  color: orangered;
}

/* line 10, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.TitleForm {
  font-size: 30px;
  color: orangered;
  font-family: Teko;
}

/* line 15, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
legend {
  padding-left: 10px;
  font-size: 20px;
}

/* line 19, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.vignette {
  padding-top: 5%;
  margin: 2%;
  background-color: #4e555b;
}

/* line 25, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.info h3 {
  font-family: Teko;
}

/* line 28, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.info a {
  color: white;
}

/* line 31, ../../wamp/www/cda35.reboot/assets/css/sass/_member.scss */
.info a:hover {
  color: orangered;
}

/* line 1, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
#add_member {
  padding-bottom: 5rem;
}

/* line 4, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.TitleForm {
  padding-left: 10rem;
}

/* line 7, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.contact-form {
  border: 1px solid black;
}

/* line 10, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.form-box {
  box-sizing: content-box;
  padding-bottom: 10px;
}

/* line 13, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.form-box #organisation {
  height: 30px;
  margin-bottom: 1px;
}

/* line 18, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.form-box label {
  margin-bottom: 0px;
}

/* line 22, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.submit-info {
  padding-left: 25rem;
  padding-bottom: 5rem;
}

/* line 26, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
input[type=checkbox] {
  height: 30px;
}

/* line 29, ../../wamp/www/cda35.reboot/assets/css/sass/_query.scss */
.col_checkbox {
  padding-right: 25rem;
}

/* line 1, ../../wamp/www/cda35.reboot/assets/css/sass/_footer.scss */
.footer-section {
  padding-top: 1%;
}

/* line 3, ../../wamp/www/cda35.reboot/assets/css/sass/_footer.scss */
.footer-section .container {
  margin-top: 1%;
}

/* line 2, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
#modal_AddNews {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
}

/* line 4, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
#modal_AddNews .container {
  background-color: whitesmoke;
  margin-top: 5vh;
  margin-left: 10%;
  height: 90vh;
  width: 80%;
  max-width: 80%;
}

/* line 18, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.container-form {
  border: 1px solid black;
  padding: 16px;
}

/* line 24, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
#modal_Readmore {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
}

/* line 26, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
#modal_Readmore .container {
  background-color: whitesmoke;
  margin-top: 5vh;
  margin-left: 10%;
  height: 90vh;
  width: 80%;
  max-width: 80%;
}

/* line 40, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.container-form {
  border: 1px solid black;
  padding: 16px;
}

/* line 44, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.about-text {
  font-family: Teko;
}

/* line 46, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.about-text p {
  font-family: Barlow;
}

/* line 51, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.feature-img .img-fluid {
  padding-top: 1%;
}

/* line 54, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.feature-img h2 {
  font-family: Teko;
}

/* line 57, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.feature-img .quotes {
  color: black;
  font-family: Teko;
}

/* line 62, ../../wamp/www/cda35.reboot/assets/css/sass/_news.scss */
.posts-list {
  overflow-y: auto;
  max-height: 700px;
}

/*# sourceMappingURL=main.css.map */